* {
  padding: 0;
  margin: 0;
}

#play-screen {
  position: relative;
}

canvas {
  position: absolute;
}

#ui-layer {
  z-index: 3;
}
#play-layer {
  z-index: 2;
}
#bg-layer {
  z-index: 1;
}

#collect-layer {
  z-index: 2;
}
#hud-layer {
  z-index: 4;
}